{% extends "index.html" %}
{% block content %}
<h1> welcom to login page</h1>
<form action="#" method="post">
  <fieldset>
    <legend>Informations personnelles</legend>
    <label for="name">Nom :</label><br>
    <input type="text" id="name" name="name" required><br><br>

    <label for="email">Email :</label><br>
    <input type="email" id="email" name="email" required><br><br>

    <label for="password">Password :</label><br>
    <input type="password" id="password" name="password" required><br><br>

    <label for="password">Confirm Password :</label><br>
    <input type="password" id="confirm_password" name="confirm_password" required><br><br>

    <label>Genre :</label><br>
    <input type="radio" id="homme" name="genre" value="Homme" required>
    <label for="homme">Homme</label><br>
    <input type="radio" id="femme" name="genre" value="Femme">
    <label for="femme">Femme</label><br><br>
  </fieldset>

  <input type="submit" value="Envoyer">
</form>
{% endblock %}